/build
*.cmake
CMakeCache.txt
cmake_install.cmake
/.built
/.configured_*
/.prepared
/.quilt_checked
/.source_dir
cmake_install.*
CMakeCache.txt
install_manifest.txt
CMakeFiles/
**/Makefile
ipkg-pistachio/
ipkg-install/
ci40_project5_appd
scripts/psk.properties
